html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
    margin: 0;
}
.Utama {
    display: flex;
    margin-top: 200px;
}
.KontenUtama {
    margin-left: 100px;
}
.Judul1 {
    color: black;
    font-size: 30px;
    font-family:"Playwrite DE Grund", cursive;
    font-weight: bolder;
}
.Judul2 {
    font-size: 30px;
    font-family:"Playwrite DE Grund", cursive;
    font-weight: bolder;
}
.konten1 {
    font-family: "Montserrat", sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}
.MG {
    font-family: "Montserrat", sans-serif; 
    padding-bottom: 30px;
}
.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: #232745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.Kanan {
    margin-left: 150px;
    margin-right: 50px;
}
.Kanan img {
    height: 300px;
    width: 500px;
    max-width: 500px;
    min-width: auto;
    max-height: 300px;
    min-height: auto;
    object-fit: cover;
    border-radius: 5px;
}
.Footer {
    background-color: #232745;
    color: #fff;
    margin-top: 0;
}
.TemukanKami {
   text-align: center; 
   padding-top: 30px;
   padding-bottom: 25px;
   font-weight: bold;
   font-family: "Roboto Mono", monospace;
}
.Footer1 {
    text-align: center;
    display: flex;
    padding: 1rem;
    gap: 50px; 
    align-items: center;
    justify-content: center;
    font-size: small;
    font-family: "Roboto Mono", monospace;
}
.Copyright {
    font-family: "Montserrat", sans-serif; 
    text-align: center;
    font-size: small;
    padding-top: 50px;
    padding-bottom: 30px;
    font-style: italic;
}
